<launch>

        <!--THIS FILE SHOULD BE RUN IN TX2-->
        <!--CHECK PORTS NEFORE STARTING AND MATCH THE BAUD VALUES WITH ARMDUINO CODES-->
        <node pkg="rosserial_python" type="serial_node.py" name="loco" output="screen">
                <param name="port" value="/dev/ttyACM0" />
                <param name="baud" value="9600" />
        </node>


        <node pkg="rosserial_python" type="serial_node.py" name="arm_joint0" output="screen">
                <param name="port" value="/dev/ttyUSB0" />
                <param name="baud" value="76800" />
        </node>


        <node pkg="rosserial_python" type="serial_node.py" name="arm_joint1" output="screen">
                <param name="port" value="/dev/ttyUSB1" />
                <param name="baud" value="76800" />
        </node>

        <node pkg="rosserial_python" type="serial_node.py" name="arm_joint2" output="screen">
                <param name="port" value="/dev/ttyUSB2" />
                <param name="baud" value="76800" />
        </node>


        <node pkg="rosserial_python" type="serial_node.py" name="gripper_claw" output="screen">
                <param name="port" value="/dev/ttyUSB4" />
                <param name="baud" value="9600" />
        </node>

        <node name="dxl" pkg="theia_2dnav" type="dxl.py" output="screen">
        </node>

</launch>